

// $background: #eae7e4;
// $light-background: #f3efeb;
// $dark-background:#b9a89c;;
// $light-accent: white;
// $dark-accent: #7d6e64;
// $color-accent: #669086;
// $color-accent-bright: #7ec4b3;
// $black: #464644;
// $orange: #d27902;


$light-grey: #e8eeef;
$medium-grey:#889192;


$dark-brown: #7d6e64;
$medium-dark-brown: #927d70;
$light-beige:#ece6e2;
$background-beige:#d0cbc8;

$off-white: #ececec;
$white:white;
$medium-grey:#909090;
$green-grey: #669086;
$green-grey-bright: #7ec4b3;
$text-black: #464644;
$orange: #d27902;


$egg-yolk: #f7a21c;
$cerise: #f71b41;
$mint-l:#80daba;
$mint-m: #51bb9f;
$mint-d: #56a290; 

$background: $off-white;
$light-background: $white;
$dark-background: $medium-grey;
$light-accent: white;
$dark-accent: $dark-background;
$color-accent: $mint-d;
$color-accent-bright: $mint-l;
$black: #464644;
$orange: #d27902;